In [71]:
# Importing Dependencies
import pandas as pd
import numpy as np

In [72]:
# Assigning the path to our CSV files
file = "raw_data/schools_complete.csv"
file_2 = "raw_data/students_complete.csv"

In [73]:
# Read the School_Complete data into pandas
school = pd.read_csv(file)
school.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [74]:
students = pd.read_csv(file_2)
students.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [75]:
school = school.rename(columns={"name": "school"})
school.head()

   School ID                 school      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [76]:
merged_df = pd.merge(school, students, on = "school")
merged_df.head()

,School ID,school,type,size,budget,Student ID,name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [77]:
merged_df.count()

School ID        39170
school           39170
type             39170
size             39170
budget           39170
Student ID       39170
name             39170
gender           39170
grade            39170
reading_score    39170
math_score       39170
dtype: int64

In [281]:
school.count()

School ID    15
school       15
type         15
size         15
budget       15
dtype: int64

In [282]:
students.count()

Student ID       39170
name             39170
gender           39170
grade            39170
school           39170
reading_score    39170
math_score       39170
dtype: int64

In [283]:
total_budget = school["budget"].sum()
total_budget

24649428

In [284]:
total_bud = school['budget'].sum()
total_bud

24649428

In [285]:
# getting the required data
student_in_school = pd.DataFrame(merged_df["school"].value_counts())
student_in_school

                       school
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427

In [286]:
school_names = merged_df['school'].unique()
school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [287]:
school_number = len(school_names)
school_number

15

In [288]:
total_students = students['name'].count()
total_students

39170

In [289]:
math_score_average = merged_df["math_score"].mean()
math_score_average

78.98537145774827

In [290]:
reading_score_average = merged_df["reading_score"].mean()
reading_score_average

81.87784018381414

In [291]:
# Amount of passing math scores (Above 70)
num_passing_math = students.loc[students['math_score'] >= 70]['math_score'].count()
percent_math_pass = num_passing_math/total_students * 100
percent_math_pass

74.9808526933878

In [292]:
# Amount of passing reading scores (Above 70)
num_passing_read = students.loc[students['reading_score'] >= 70]['reading_score'].count()
percent_read_pass = num_passing_read/total_students * 100
percent_read_pass

85.80546336482001

In [293]:
overall_passing_rate = (percent_math_pass + percent_read_pass) / 2
overall_passing_rate

80.39315802910392

In [294]:
# Creating a District summary DataFrame using above values
dist_summary_df = pd.DataFrame({"Total Schools" : [school_number],
                            "Total Students": [total_students],
                           "Total Budget": [total_budget],
                           "Average Math Score": [math_score_average],
                           "Average Reading Score": [reading_score_average],
                           "% Passing Math": [percent_math_pass],
                           "% Passing Reading": [percent_read_pass],     
                           "Overall Passing Rate": [overall_passing_rate]})


dist_summary_df

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Total Budget,Total Schools,Total Students
0,74.980853,85.805463,78.985371,81.87784,80.393158,24649428,15,39170

In [295]:
# Create a different Data Frame so we can arrange the columns the way that it is required
district_summary = dist_summary_df[["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", 
                                 '% Passing Math', '% Passing Reading', 'Overall Passing Rate']]
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.393158

In [296]:
# Use Map to format all the columns
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.6f}".format)

# District Summary

In [279]:
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

In [243]:
# Group everything by School to be used for the School Summary
school_grouped = merged_df.set_index('school').groupby(['school'])
school_grouped.head()

,School ID,type,size,budget,Student ID,name,gender,grade,reading_score,math_score
school,,,,,,,,,,
Huang High School,0,District,2917,1910635,0,Paul Bradley,M,9th,66,79
Huang High School,0,District,2917,1910635,1,Victor Smith,M,12th,94,61
Huang High School,0,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
Huang High School,0,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
Huang High School,0,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
Figueroa High School,1,District,2949,1884411,2917,Amy Jacobs,F,10th,85,87
Figueroa High School,1,District,2949,1884411,2918,Nathan Campbell,M,12th,97,84
Figueroa High School,1,District,2949,1884411,2919,Randall Stewart,M,12th,67,77
Figueroa High School,1,District,2949,1884411,2920,Jennifer Brown,F,9th,97,64
Figueroa High School,1,District,2949,1884411,2921,Denise Lopez,F,10th,79,64
Shelton High School,2,Charter,1761,1056600,5866,Jamie Montgomery,F,12th,70,91
Shelton High School,2,Charter,1761,1056600,5867,Shannon Phillips,F,10th,84,71
Shelton High School,2,Charter,1761,1056600,5868,Todd Barber,M,11th,95,99
Shelton High School,2,Charter,1761,1056600,5869,Desiree King,F,12th,76,95
Shelton High School,2,Charter,1761,1056600,5870,Melissa Roberts,F,10th,71,82
Hernandez High School,3,District,4635,3022020,7627,Russell Davis,M,10th,70,88
Hernandez High School,3,District,4635,3022020,7628,Timothy Walker,M,12th,97,93
Hernandez High School,3,District,4635,3022020,7629,Katie Johnston,F,12th,83,81
Hernandez High School,3,District,4635,3022020,7630,Joann Oconnell,F,12th,77,91
Hernandez High School,3,District,4635,3022020,7631,Sarah Alexander,F,10th,84,93
Griffin High School,4,Charter,1468,917500,12262,Heather Wright,F,11th,79,68
Griffin High School,4,Charter,1468,917500,12263,Elizabeth Goodwin,F,10th,91,81
Griffin High School,4,Charter,1468,917500,12264,Michelle Wong,F,9th,78,89
Griffin High School,4,Charter,1468,917500,12265,Scott Roth MD,M,11th,91,85
Griffin High School,4,Charter,1468,917500,12266,Billy Wilson,M,12th,76,83
Wilson High School,5,Charter,2283,1319574,13730,Kelli Anderson,F,10th,84,71
Wilson High School,5,Charter,2283,1319574,13731,Russell Ramirez,M,10th,72,87
Wilson High School,5,Charter,2283,1319574,13732,Eric Butler,M,10th,97,82
Wilson High School,5,Charter,2283,1319574,13733,Warren Kerr,M,11th,93,68
Wilson High School,5,Charter,2283,1319574,13734,Gail Hall,F,9th,79,72
...,...,...,...,...,...,...,...,...,...,...
Pena High School,9,Charter,962,585858,23274,Alec Davis,M,9th,91,75
Pena High School,9,Charter,962,585858,23275,Michael Meyer,M,10th,94,76
Pena High School,9,Charter,962,585858,23276,Donald Gutierrez,M,11th,98,91
Pena High School,9,Charter,962,585858,23277,Travis Chavez,M,11th,78,71
Pena High School,9,Charter,962,585858,23278,Sheena Ball,F,12th,87,92
Wright High School,10,Charter,1800,1049400,24236,Aaron Johnson,M,10th,89,72
Wright High School,10,Charter,1800,1049400,24237,Kimberly Hamilton,F,10th,84,93
Wright High School,10,Charter,1800,1049400,24238,Ashley Johns,F,10th,88,88
Wright High School,10,Charter,1800,1049400,24239,Stephanie Donovan,F,10th,75,84
Wright High School,10,Charter,1800,1049400,24240,Cynthia Guzman,F,11th,93,82
Rodriguez High School,11,District,3999,2547363,26036,Sherry Jenkins,F,11th,74,81
Rodriguez High School,11,District,3999,2547363,26037,Kimberly Calderon,F,10th,80,86
Rodriguez High School,11,District,3999,2547363,26038,William Brady,M,11th,97,62
Rodriguez High School,11,District,3999,2547363,26039,Jacob Padilla,M,11th,79,73
Rodriguez High School,11,District,3999,2547363,26040,Paula Maldonado,F,10th,96,92
Johnson High School,12,District,4761,3094650,30035,Lisa Casey,F,12th,87,87
Johnson High School,12,District,4761,3094650,30036,Jessica Lopez,F,9th,98,62
Johnson High School,12,District,4761,3094650,30037,Anna Wilkins,F,11th,89,77
Johnson High School,12,District,4761,3094650,30038,Andrew Smith,M,9th,66,85
Johnson High School,12,District,4761,3094650,30039,Robert Allison,M,11th,63,85
Ford High School,13,District,2739,1763916,34796,Michael Mercado,M,9th,66,94
Ford High School,13,District,2739,1763916,34797,Stephen Wolf,M,11th,68,63
Ford High School,13,District,2739,1763916,34798,Bonnie Hughes,F,12th,73,59
Ford High School,13,District,2739,1763916,34799,Melissa Smith,F,11th,88,58
Ford High School,13,District,2739,1763916,34800,Brian Mitchell,M,10th,96,55
Thomas High School,14,Charter,1635,1043130,37535,Norma Mata,F,10th,76,76
Thomas High School,14,Charter,1635,1043130,37536,Cody Miller,M,11th,84,82
Thomas High School,14,Charter,1635,1043130,37537,Erik Snyder,M,9th,80,90
Thomas High School,14,Charter,1635,1043130,37538,Tanya Martinez,F,9th,71,69
Thomas High School,14,Charter,1635,1043130,37539,Noah Erickson,M,9th,86,76

In [265]:
# Obtain the school type (either District or Charter)
school_type = school.set_index('school') ['type']
school_type.head()

school
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [266]:
# Get students by School
students_per_school = school_grouped['Student ID'].count()
students_per_school

school
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [267]:
# Get budget by school
budget_per_school = school.set_index('school')['budget']
budget_per_school

school
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [268]:
# Get the amount of budget per student
student_budget = school.set_index('school')['budget'] / school.set_index('school')['size']
student_budget.head()

school
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
dtype: float64

In [269]:
# Obtain the Average Math & Reading Scores
school_average_math = school_grouped['math_score'].mean()
school_average_reading = school_grouped['reading_score'].mean()
school_average_reading

school
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [270]:
# Get the passing math % per school
school_passing_math = merged_df[merged_df['math_score'] >= 70].groupby('school')['Student ID'].count() / students_per_school
school_passing_math

school
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: Student ID, dtype: float64

In [271]:
# Get the passing reading % per school
school_passing_reading = merged_df[merged_df['reading_score'] >= 70].groupby('school')['Student ID'].count() / students_per_school
school_passing_reading

school
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: Student ID, dtype: float64

In [272]:
# Obtaining Overall Passing Rate per school
overall_pass_rate_school = (school_passing_math + school_passing_reading) / 2
overall_pass_rate_school

school
Bailey High School       0.743067
Cabrera High School      0.955867
Figueroa High School     0.733639
Ford High School         0.738043
Griffin High School      0.952657
Hernandez High School    0.738080
Holden High School       0.943794
Huang High School        0.735002
Johnson High School      0.736400
Pena High School         0.952703
Rodriguez High School    0.732933
Shelton High School      0.948609
Thomas High School       0.952905
Wilson High School       0.952037
Wright High School       0.949722
Name: Student ID, dtype: float64

In [273]:
# Creating the school summary DataFrame using above values
school_summary_df = pd.DataFrame({"School Type" : school_type,
                            "Total Students": students_per_school,
                           "Total School Budget": budget_per_school,
                           "Per Student Budget": student_budget,       
                           "Average Math Score": school_average_math,
                           "Average Reading Score": school_average_reading,
                           '% Passing Math': school_passing_math,
                           '% Passing Reading': school_passing_reading,     
                           "Overall Passing Rate": overall_pass_rate_school})
school_summary_df

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing Rate,Per Student Budget,School Type,Total School Budget,Total Students
Bailey High School,0.666801,0.819333,77.048432,81.033963,0.743067,628.0,District,3124928,4976
Cabrera High School,0.941335,0.970398,83.061895,83.975780,0.955867,582.0,Charter,1081356,1858
Figueroa High School,0.659885,0.807392,76.711767,81.158020,0.733639,639.0,District,1884411,2949
Ford High School,0.683096,0.792990,77.102592,80.746258,0.738043,644.0,District,1763916,2739
Griffin High School,0.933924,0.971390,83.351499,83.816757,0.952657,625.0,Charter,917500,1468
Hernandez High School,0.667530,0.808630,77.289752,80.934412,0.738080,652.0,District,3022020,4635
Holden High School,0.925059,0.962529,83.803279,83.814988,0.943794,581.0,Charter,248087,427
Huang High School,0.656839,0.813164,76.629414,81.182722,0.735002,655.0,District,1910635,2917
Johnson High School,0.660576,0.812224,77.072464,80.966394,0.736400,650.0,District,3094650,4761
Pena High School,0.945946,0.959459,83.839917,84.044699,0.952703,609.0,Charter,585858,962
Rodriguez High School,0.663666,0.802201,76.842711,80.744686,0.732933,637.0,District,2547363,3999
Shelton High School,0.938671,0.958546,83.359455,83.725724,0.948609,600.0,Charter,1056600,1761
Thomas High School,0.932722,0.973089,83.418349,83.848930,0.952905,638.0,Charter,1043130,1635
Wilson High School,0.938677,0.965396,83.274201,83.989488,0.952037,578.0,Charter,1319574,2283
Wright High School,0.933333,0.966111,83.682222,83.955000,0.949722,583.0,Charter,1049400,1800

In [274]:
# Arranging the columns the way that it is required
school_summary_df = school_summary_df[['School Type', 'Total Students', 'Total School Budget',
                   'Per Student Budget', 'Average Math Score', 'Average Reading Score',
                   '% Passing Math', '% Passing Reading', 'Overall Passing Rate']]
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722

In [277]:
# Use Map to format all the columns
school_summary_df.style.format ({"Total School Budget" : "${:,.2f}",
                                "Per Student Budget" : "${:,.2f}"})

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,0.933333,0.966111,0.949722

# School Summary

In [278]:
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,0.933333,0.966111,0.949722